<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>论文格式生成器</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/normal.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/index/css/animation.css">

    <script src="__PUBLIC__/index/js/webfont.js"></script>

    <script>
        if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <!--<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/index/favicon.ico">-->

</head>
<body>
<div class="fix-header" id="home">
    <div class="w-container">
        <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
    </div>
</div>
<div class="fixed-header">
    <div class="w-container container">
        <div class="w-row">

            <!--///////////////////////////////////////////////////////
            // Logo section
            //////////////////////////////////////////////////////////-->


            <div class="w-col w-col-3 logo">
                <a href="#"><img class="logo" src="__PUBLIC__/index/images/logo.png" alt="Elegance"></a>
            </div>

            <!--///////////////////////////////////////////////////////
           // End Logo section
           //////////////////////////////////////////////////////////-->

            <div class="w-col w-col-9">

                <!--///////////////////////////////////////////////////////
                // Menu section
                //////////////////////////////////////////////////////////-->


                <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400"
                     data-contain="1">
                    <div class="w-container nav">
                        <nav class="w-nav-menu nav-menu" role="navigation">

                            <a class="w-nav-link menu-li" href="#home">主页</a>
                            <a class="w-nav-link menu-li" href="#about">关于</a>
                            <a class="w-nav-link menu-li" href="#service">服务</a>
                            <a class="w-nav-link menu-li" href="#portfolio">展望</a>
                            <a class="w-nav-link menu-li" href="#team">团队</a>
                            <a class="w-nav-link menu-li" href="#contact">反馈</a>
                            <a class="w-nav-link menu-li" href="<?php echo url('admin/Main/signin'); ?>">登录/注册</a>
                        </nav>
                        <div class="w-nav-button">
                            <div class="w-icon-nav-menu"></div>
                        </div>
                    </div>
                </div>


                <!--///////////////////////////////////////////////////////
             // End Menu section
             //////////////////////////////////////////////////////////-->


            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
   //  Slider section 
   //////////////////////////////////////////////////////////-->


<div class="slidersection">
    <div class="sp-slideshow">

        <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked"/>
        <label for="button-1" class="button-label-1"></label>

        <input id="button-2" type="radio" name="radio-set" class="sp-selector-2"/>
        <label for="button-2" class="button-label-2"></label>

        <input id="button-3" type="radio" name="radio-set" class="sp-selector-3"/>
        <label for="button-3" class="button-label-3"></label>

        <input id="button-4" type="radio" name="radio-set" class="sp-selector-4"/>
        <label for="button-4" class="button-label-4"></label>

        <input id="button-5" type="radio" name="radio-set" class="sp-selector-5"/>
        <label for="button-5" class="button-label-5"></label>

        <label for="button-1" class="sp-arrow sp-a1"></label>
        <label for="button-2" class="sp-arrow sp-a2"></label>
        <label for="button-3" class="sp-arrow sp-a3"></label>
        <label for="button-4" class="sp-arrow sp-a4"></label>
        <label for="button-5" class="sp-arrow sp-a5"></label>

        <div class="sp-content">
            <div class="sp-parallax-bg"></div>
            <ul class="sp-slider clearfix">
                <li><img src="__PUBLIC__/index/images/slider/slider1.png" alt="image01"/></li>
                <li><img src="__PUBLIC__/index/images/slider/slider2.png" alt="image02"/></li>
                <li><img src="__PUBLIC__/index/images/slider/slider3.png" alt="image03"/></li>
                <li><img src="__PUBLIC__/index/images/slider/slider4.png" alt="image04"/></li>
                <li><img src="__PUBLIC__/index/images/slider/slider5.png" alt="image05"/></li>
            </ul>
        </div><!-- sp-content -->

    </div><!-- sp-slideshow -->
</div>


<!--///////////////////////////////////////////////////////
   // End slider section 
   //////////////////////////////////////////////////////////-->


<!--///////////////////////////////////////////////////////
   // About section 
   //////////////////////////////////////////////////////////-->


<div class="about-parlex" id="about">
    <section class="parlex7-back">
        <div class="w-container">
            <div id="about-animation">
                <div class="wrap">
                    <div class="about">
                        <h1 class="about-heading">关于本站</h1>
                        <div class="about-text">什么是论文格式生成?</div>
                        <div class="sepreater"></div>
                    </div>
                    <p class="about-des">你还在为专业论文因为格式不对被打回重写而烦恼吗，还在因为格式不对而被无情扣分吗;
                        <br>论文格式生成器，专注论文格式生成五百年。让你无忧无虑开心写论文，再也不必为了论文格式而烦心.
                    </p>
                    <img class="about-img" src="__PUBLIC__/index/images/about.png"
                         alt="52de15aa5d3566c14300015e_about.png">
                </div>
            </div>
        </div>
    </section>
</div>


<!--///////////////////////////////////////////////////////
   // End about section 
   //////////////////////////////////////////////////////////-->


<!--///////////////////////////////////////////////////////
   // Who We Are Section
   //////////////////////////////////////////////////////////-->


<div class="exp service-parlex">
    <div class="exp-back">
        <div class="w-container">
            <div id="who-v-animation">
                <div class="wrap">
                    <div class="w-row exp-des">
                        <div class="w-col w-col-6 exp-col1">
                            <div class="col1-div">
                                <div class="experinc-box">
                                    <h3 class="experinc-box-h3">我们的团队</h3>
                                    <p>我们团队都是拥有十年开发经验的开发团队，我们专注解决一些困扰着学生们的非学术问题。
                                        可能同学们都会碰到过这种情况，明明花费了大量时间在论文的内容上面结果老师却因为一些格式上的问题而把论文打回重写，我们十分不希望这种情况出现，因为碰到过才更加注重解决这些问题 </br>
                                        请对我们团队放心，因为专注所以专业。</p>
                                    <div class="buttons">
                                        <div class="btn-ex-one">
                                            <a class="ex-btn" href="#">查看更多</a>
                                        </div>
                                        <div class="btn-ex-two">
                                            <a class="ex-btn-two"
                                               href="<?php echo url('admin/Main/signup'); ?>">现在注册</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-col w-col-6 exp-col2">
                            <div class="col2-div">
                                <img src="__PUBLIC__/index/images/who-we-are.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--///////////////////////////////////////////////////////
   // End Who We Are section 
   //////////////////////////////////////////////////////////-->


<!--///////////////////////////////////////////////////////
   // Call to action section 
   //////////////////////////////////////////////////////////-->


<div class="call-to-action">
    <div class="call-to-back">
        <div class="w-container">
            <div class="wrap">
                <div class="w-row call-row">
                    <div class="w-col w-col-9 cal-col-1">
                        <h3 class="call-to-h3">是不是希望可以使用</h3>
                        <p>只需耽误您一点点时间就可以获得我们的服务;</p>
                    </div>
                    <div class="w-col w-col-3"><a class="call-to-butn" href="<?php echo url('admin/Main/signup'); ?>">现在就去注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--///////////////////////////////////////////////////////
   // End call to action section 
   //////////////////////////////////////////////////////////-->


<!--///////////////////////////////////////////////////////
   // Service section 
   //////////////////////////////////////////////////////////-->


<section class="service-parlex" id="service">
    <section class="parlex-back">
        <div class="w-container">
            <div class="wrap">
                <div class="service-combo">
                    <div class="services">
                        <h1 class="service-heading">服务</h1>
                        <div class="services-text">我们会提供什么</div>
                        <div class="sepreater service"></div>
                    </div>
                    <div class="services-text">“ 我们会给您一种专业的论文撰写环境 ”
                        <br>我们的主要界面是在网站上实现的，这样你可以在任何有网络的环境中放心的撰写论文，可以在没有携带自己的设备的情况下在有网络的环境下直接将论文以word和PDF的形式提出，进行打印和预览。
                        在网络上撰写论文也是一种舒服的方式，我们提供专业的工具，可以达到和word一样工作环境。
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-3 services-column">
                            <div class="service-icon">
                                <img src="__PUBLIC__/index/images/services/Web-Design-Development.png">
                            </div>
                            <h4 class="service-head">随时随地想写就写</h4>
                        </div>
                        <div class="w-col w-col-3">
                            <div class="service-icon">
                                <img src="__PUBLIC__/index/images/services/Branding-Identity.png">
                            </div>
                            <h4 class="service-head">无限专业的写作环境</h4>
                        </div>
                        <div class="w-col w-col-3">
                            <div class="service-icon">
                                <img src="__PUBLIC__/index/images/services/Motion-Video.png">
                            </div>
                            <h4 class="service-head">各种格式的支持</h4>
                        </div>
                        <div class="w-col w-col-3">
                            <div class="service-icon">
                                <img src="__PUBLIC__/index/images/services/UX-UI.png">
                            </div>
                            <h4 class="service-head">预览让你方便的看到</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!--///////////////////////////////////////////////////////
   // End Service section 
   //////////////////////////////////////////////////////////-->


<!--///////////////////////////////////////////////////////
   // Process section 
   //////////////////////////////////////////////////////////-->

<div class="process-parlex">
    <div class="parlex2-back">
        <div class="w-container">
            <div class="wrap">
                <div class="process">
                    <h1 class="our-process-heading">我们的展望</h1>
                    <div class="sepreater"></div>
                </div>
                <div class="process-text">
                    <div class="process-text">我们可是立志成为这个新兴的行业的翘楚！</div>
                    <div class="w-row">
                        <div class="w-col w-col-3">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#set-1" class="hi-icon hi-icon-locked">安全性</a>
                            </div>
                            <h4 class="our-process-sys">功能的进化</h4>
                            <p class="process-paragraph">我们还是会继续对我们的产品进行创新，为它添加更多的炫酷的功能，使它能够可以傲视群雄.</p>
                        </div>
                        <div class="w-col w-col-3">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#set-1" class="hi-icon hi-icon-mobile">Mobile</a>
                            </div>
                            <h4 class="our-process-sys">计划</h4>
                            <p class="process-paragraph">我们计划成为一个可以覆盖所有高校和杂志的全面性产品.</p>
                        </div>
                        <div class="w-col w-col-3">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#set-1" class="hi-icon hi-icon-screen">Desktop</a>
                            </div>
                            <h4 class="our-process-sys">创意</h4>
                            <p class="process-paragraph">专注色彩搭配一万年。本公司十分注重我们产品的样式和色彩，特地聘请.</p>
                        </div>
                        <div class="w-col w-col-3">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                                <a href="#set-1" class="hi-icon hi-icon-earth">Partners</a>
                            </div>
                            <h4 class="our-process-sys">不知道要写啥</h4>
                            <p class="process-paragraph">算逑.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
   // End Process section 
   //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
   // Porfolio section 
   //////////////////////////////////////////////////////////-->

<div class="portfolio-parlex" id="portfolio">
    <div class="parlex3-back">
        <div class="w-container">
            <div class="wrap">
                <div class="portfolio">
                    <h1 class="portfolio-heading">公司文化</h1>
                    <div class="portfolio-text">我们的论文</div>
                    <div class="sepreater"></div>
                </div>
                <p class="porfolio-paragraph">因为专注所以专业。这是我们公司的指导方针，我们力争成为一线的论文处理网站。
                    <br>We do what we love. Our clients love what we do.</p>
                <div class="container demo-1">
                    <ul class="grid cs-style-1">
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/1.jpg" alt="img01">
                                <figcaption>
                                    <h3>Camera</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/2.jpg" alt="img02">
                                <figcaption>
                                    <h3>Music</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/4.jpg" alt="img04">
                                <figcaption>
                                    <h3>Settings</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/5.jpg" alt="img05">
                                <figcaption>
                                    <h3>Safari</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/3.jpg" alt="img03">
                                <figcaption>
                                    <h3>Phone</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/6.jpg" alt="img06">
                                <figcaption>
                                    <h3>Game Center</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/7.jpg" alt="img06">
                                <figcaption>
                                    <h3>Game Center</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/8.jpg" alt="img06">
                                <figcaption>
                                    <h3>Game Center</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img class="portfolio-images" src="__PUBLIC__/index/images/portfolio/9.jpg" alt="img06">
                                <figcaption>
                                    <h3>Game Center</h3>
                                    <span>Jacob Cummings</span>
                                    <a href="#">Take a look</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div><!-- /container -->
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
   // End Porfolio section 
   //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
   // Our-plan section 
   //////////////////////////////////////////////////////////-->

<div class="our-plan-parlex">
    <div class="parlex4-back">
        <div class="w-container">
            <div class="wrap">
                <div class="our-plans">
                    <h1 class="ourplan-heading">OUR PLANS</h1>
                    <div class="our-plan-text">SELECT YOUR BEST PLAN</div>
                </div>
                <div class="sepreater"></div>
                <p class="our-plan-paragraph">As a creative studio we believe no client is too big nor too small to work
                    with us. We love what we do. And that shows.
                    <br>We like to create things with fun, like-minded people.</p>
                <div class="w-row">
                    <div class="w-col w-col-3">
                        <div class="plan1">
                            <div class="plan1-ser1">
                                <h4>PERSONAL SITE</h4>
                                <div class="price">$15 / Month</div>
                            </div>
                            <p class="plan1-ser1-para">
                                <br>Unlimited&nbsp;Email-Addresses
                                <br>
                                <br>50GB&nbsp;Disk&nbsp;Space
                                <br>
                                <br>Unlimited&nbsp;MySQL-Databases
                                <br>
                                <br>Unlimited&nbsp;Domains
                                <br>
                                <br>Free&nbsp;Billing Systems</p><a class="plan-1-butn" href="#">Sign Up!</a>
                        </div>
                    </div>
                    <div class="w-col w-col-3">
                        <div class="plan1 plan2">
                            <div class="plan2-ser2">
                                <h4>SMALL BUSINESS</h4>
                                <div class="price">$25 / Month</div>
                            </div>
                            <p class="plan1-ser1-para">
                                <br>Unlimited&nbsp;Email-Addresses
                                <br>
                                <br>80GB&nbsp;Disk&nbsp;Space
                                <br>
                                <br>Unlimited&nbsp;MySQL-Databases
                                <br>
                                <br>Unlimited&nbsp;Domains
                                <br>
                                <br>Free&nbsp;Billing Systems</p><a class="plan-1-butn2 plan-1-butn" href="#">Sign
                            Up!</a>
                        </div>
                    </div>
                    <div class="w-col w-col-3">
                        <div class="plan1 plan3">
                            <div class="plan1-ser1 plan3-ser3">
                                <h4>CORPORATE SITE</h4>
                                <div class="price">$50 / Month</div>
                            </div>
                            <p class="plan1-ser1-para">
                                <br>Unlimited&nbsp;Email-Addresses
                                <br>
                                <br>120GB&nbsp;Disk&nbsp;Space
                                <br>
                                <br>Unlimited&nbsp;MySQL-Databases
                                <br>
                                <br>Unlimited&nbsp;Domains
                                <br>
                                <br>Free&nbsp;Billing Systems</p><a class="plan-1-butn plan-1-butn3" href="#">Sign
                            Up!</a>
                        </div>
                    </div>
                    <div class="w-col w-col-3">
                        <div class="plan1 plan4">
                            <div class="plan1-ser1 plan4-ser4">
                                <h4>E-COMMERCE SITE</h4>
                                <div class="price">$90&nbsp;/ Month</div>
                            </div>
                            <p class="plan1-ser1-para">
                                <br>Unlimited&nbsp;Email-Addresses
                                <br>
                                <br>120GB&nbsp;Disk&nbsp;Space
                                <br>
                                <br>Unlimited&nbsp;MySQL-Databases
                                <br>
                                <br>Unlimited&nbsp;Domains
                                <br>
                                <br>Free&nbsp;Billing Systems</p><a class="plan-1-butn plan-4-butn4" href="#">Sign
                            Up!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
   // End Our-Plan section 
   //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
   // Team section 
   //////////////////////////////////////////////////////////-->

<div class="team-parlex" id="team">
    <div class="parlex5-back">
        <div class="w-container">
            <div class="wrap">
                <div class="team">
                    <h1 class="team">我们的团队</h1>
                    <div class="sepreater team-sep"></div>
                </div>
                <div class="team-text">
                    <p class="team-text-para">We are Elegance. We offer creative solutions for every web-based project
                        you can think of.&nbsp;
                        <br>We take pride in our work and everything we create is executed with precision and love.</p>
                </div>
                <div class="w-row team-member">
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="__PUBLIC__/index/images/team/yi.jpg"
                                     alt="52dd1e57e64ce6cb200004f3_image1.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">王用</h4>
                                <div class="team-name-des">总体架构实现</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Facebook.png"
                                                                         alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Twitter.png"
                                                                         alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Linkedin.png"
                                                                         alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Google-plus.png"
                                                                         alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/RSS.png"
                                                                         alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="__PUBLIC__/index/images/team/er.jpg"
                                     alt="52dd1edfe64ce6cb200004fb_image2.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">王元将</h4>
                                <div class="team-name-des">心灵导师和架构</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Facebook.png"
                                                                         alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Twitter.png"
                                                                         alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Linkedin.png"
                                                                         alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Google-plus.png"
                                                                         alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/RSS.png"
                                                                         alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="__PUBLIC__/index/images/team/san.jpg"
                                     alt="52dd1edfe64ce6cb200004fb_image2.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">杨珂</h4>
                                <div class="team-name-des">美工大神，UI设计</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Facebook.png"
                                                                         alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Twitter.png"
                                                                         alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Linkedin.png"
                                                                         alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Google-plus.png"
                                                                         alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/RSS.png"
                                                                         alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="__PUBLIC__/index/images/team/si.jpg"
                                     alt="52dd1edfe64ce6cb200004fb_image2.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">马瑞斌</h4>
                                <div class="team-name-des">劳动民工，细节实现</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Facebook.png"
                                                                         alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Twitter.png"
                                                                         alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Linkedin.png"
                                                                         alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Google-plus.png"
                                                                         alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/RSS.png"
                                                                         alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="__PUBLIC__/index/images/team/wu.jpg"
                                     alt="52dd1edfe64ce6cb200004fb_image2.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">不知名大神</h4>
                                <div class="team-name-des">人民的信仰</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Facebook.png"
                                                                         alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Twitter.png"
                                                                         alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Linkedin.png"
                                                                         alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Google-plus.png"
                                                                         alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/RSS.png"
                                                                         alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="__PUBLIC__/index/images/team/liu.jpg"
                                     alt="52dd1efcad165eca20000539_image3.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">李积浩</h4>
                                <div class="team-name-des">劳动民工，细节实现</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Facebook.png"
                                                                         alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Twitter.png"
                                                                         alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Linkedin.png"
                                                                         alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/Google-plus.png"
                                                                         alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="http://blog.54yongf.com"><img class="social"
                                                                         src="__PUBLIC__/index/images/social/RSS.png"
                                                                         alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--///////////////////////////////////////////////////////
   // End Team section 
   //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
   // Clients section 
   //////////////////////////////////////////////////////////-->

<div class="clients-parlex">
    <div class="parlex6-back">
        <div class="w-container">
            <div class="wrap-client">
                <div class="clients-sub">
                    <div id="clients">
                        <div class="clients-wrap">
                            <ul id="clients-list" class="clearfix">
                                <li><img src="__PUBLIC__/index/images/clients/client-logo1.png" alt="logo"></li>
                                <li><img src="__PUBLIC__/index/images/clients/client-logo2.png" alt="logo"></li>
                                <li><img src="__PUBLIC__/index/images/clients/client-logo3.png" alt="logo"></li>
                                <li><img src="__PUBLIC__/index/images/clients/client-logo4.png" alt="logo"></li>
                                <li><img src="__PUBLIC__/index/images/clients/client-logo5.png" alt="logo"></li>
                                <li><img src="__PUBLIC__/index/images/clients/client-logo6.png" alt="logo"></li>
                            </ul>
                        </div><!-- @end .clients-wrap -->
                    </div><!-- @end #clients -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
   // End Clients section 
   //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
   // Contact section 
   //////////////////////////////////////////////////////////-->

<div class="contact-parlex" id="contact">
    <div class="parlex8-back">
        <div class="w-container">
            <div class="wrap">
                <div class="contact-div">
                    <h1 class="contact-heading">反馈给我们</h1>
                    <div class="sepreater"></div>
                </div>
                <p class="contact-para">十分感谢您愿意花时间给我们做反馈
                    <br>我们会尽快给您回复您的反馈意见，这大概会花一两个工作日，敬请留意</p>
                <div class="w-form">
                    <form action="contact.php" method="post">
                        <label for="name">用户名:</label>
                        <input class="w-input" type="text" placeholder="Enter your name" name="cf_name">
                        <label for="email">邮件地址:</label>
                        <input class="w-input" placeholder="Enter your email address" type="text" name="cf_email"
                               required="required">
                        <label for="email">反馈内容:</label>
                        <textarea class="w-input message" placeholder="Enter your Message Here"
                                  name="cf_message"></textarea><br>
                        <input class="w-button" type="submit" value="Send">
                    </form>
                    <div class="w-form-done">
                        <p>谢谢你参与反馈您的意见我们已经收到</p>
                    </div>
                    <div class="w-form-fail">
                        <p>不好再发送的时候发生了不可名状的错误:(</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-widget w-widget-map contac-map" data-widget-latlng="37.782163,-122.400591"
             data-widget-style="roadmap" data-widget-zoom="10" data-widget-tooltip="Carino Headquater"></div>
        <div class="w-container">
            <div class="w-row contact-col">
                <div class="w-col w-col-4 contact-col1">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#set-5" class="hi-icon hi-icon-earth">Partners</a>
                        </div>
                        <h4 class="contact-col-head">Visit Us</h4>
                    </div>
                    <div>
                        <div class="contact-col-text">795 Folsom St., Suite 600
                            <br>San Francisco, CA 94107
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4 contact-col2">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#set-5" class="hi-icon hi-icon-mail">Partners</a>
                        </div>
                        <h4 class="contact-col-head">联系我们</h4>
                    </div>
                    <div>
                        <div class="contact-col-text">general: office@elegance.com
                            <br>support: support@elegance.com
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4 contact-col3">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#set-5" class="hi-icon hi-icon-mobile">Partners</a>
                        </div>
                        <h4 class="contact-col-head">打电话给我们</h4>
                    </div>
                    <div>
                        <div class="contact-col-text-bar-last">P: (452) 123-8970
                            <br>F: (452) 123-8971
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
   // End Contact section 
   //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
   // Footer section 
   //////////////////////////////////////////////////////////-->

<div class="footer-parlex">
    <div class="parlex9-back">
        <div class="w-container">
            <div class="wrap">
                <img class="footer-logo" src="__PUBLIC__/index/images/footer-logo.png" alt="Elegance">
                <div class="footer-social">
                    <div class="fotter-social-wrap">
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Facebook.png"
                                                             alt="52dd249c929b601f5400054c_Facebook.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Twitter.png"
                                                             alt="52dd24f2929b601f54000551_Twitter.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Google-plus.png"
                                                             alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Blogger.png"
                                                             alt="52de52e7b6d2171f78000414_Blogger.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Digg.png"
                                                             alt="52de53174702a71e780003c3_Digg.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Pinterest.png"
                                                             alt="52de533c5d3566c1430003e9_Pinterest.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Flickr.png"
                                                             alt="52de535f1b42bfc24300049e_Flickr.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Vimeo.png"
                                                             alt="52de537cb6d2171f7800041c_Vimeo.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Myspace.png"
                                                             alt="52de53954702a71e780003c5_Myspace.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Stumbleupn.png"
                                                             alt="52de53c0b6d2171f7800041e_Stumbleupn.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Tumblr.png"
                                                             alt="52de54021b42bfc2430004a3_Tumblr.png"></a>
                        <a href="http://blog.54yongf.com"><img class="fotter-social"
                                                             src="__PUBLIC__/index/images/social/Youtube.png"
                                                             alt="52de54495d3566c14300040a_Youtube.png"></a>
                    </div>
                </div>
                <div>
                    <div class="fotter-text"><p class="fotter-quote">“ THE LIGHT WITHIN US BOWS TO THE LIGHT WITHIN YOU.
                        ”</p>
                        <p class="copyright-area">版权申明，本产品的所有解释权归小三集团所有
                        </p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/index/js/jquery.js"></script>
<!---<script type="text/javascript" src="js/normal.js"></script>--->
<script type="text/javascript" src="__PUBLIC__/index/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/carousels.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/slider-modernizr.js"></script>
<script src="__PUBLIC__/index/js/classie.js"></script>
<script src="__PUBLIC__/index/js/portfolio-effects.js"></script>
<script src="__PUBLIC__/index/js/toucheffects.js"></script>
<script src="__PUBLIC__/index/js/modernizr.js"></script>
<script src="__PUBLIC__/index/js/animation.js"></script>

</body>
</html>