<!DOCTYPE HTML>
<html>
<head>
<title>Sign In</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="__PUBLIC__css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="__PUBLIC__css/morris.css" type="text/css"/>
<!-- Graph CSS -->
<link href="__PUBLIC__css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__css/jquery-ui.css">
<!-- jQuery -->
<script src="__PUBLIC__js/jquery-2.1.4.min.js"></script>
<!-- //jQuery -->
<link href='http://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="__PUBLIC__css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
</head> 
<body>
	<div class="main-wthree">
	<div class="container">
	<div class="sin-w3-agile">
		<h2>登录</h2>
		<form action="<?php echo url('admin/Main/main'); ?>" method="post">
			<div class="username">
				<span class="username">用户名:</span>
				<input type="text" name="name" class="name" placeholder="" required>
				<div class="clearfix"></div>
			</div>
			<div class="password-agileits">
				<span class="username">密码:</span>
				<input type="password" name="password" class="password" placeholder="" required>
				<div class="clearfix"></div>
			</div>
			<div class="rem-for-agile">
				<input type="checkbox" name="remember" class="remember">记住密码<br>
				<a href="signup.html">注册</a><br>
			</div>
			<div class="login-w3">
					<input type="submit" class="login" value="登录">
			</div>
			<div class="clearfix"></div>
		</form>
				<div class="back">
					<a href="<?php echo url('index/Index/index'); ?>">返回主界面</a>
				</div>
				
	</div>
	</div>
	</div>
</body>
</html>